@import 'shared/shared';

.Tile {
  position: absolute;
  cursor: pointer;
  border: 1px solid $c-white;
  background-image: url('/img/monks.jpg');

  &::after {
    display: block;
    padding-bottom: 100%;
    content: '';
  }
}

// 9 tiles styling
.Tile--9 {
  width: percentage(1 / 3);
  background-size: 300%;
}

.Tile--9-1 {
  background-position: 0 0;
}

.Tile--9-2 {
  background-position: -100% 0;
}

.Tile--9-3 {
  background-position: -200% 0;
}

.Tile--9-4 {
  background-position: 0 -100%;
}

.Tile--9-5 {
  background-position: -100% -100%;
}

.Tile--9-6 {
  background-position: -200% -100%;
}

.Tile--9-7 {
  background-position: 0 -200%;
}

.Tile--9-8 {
  background-position: -100% -200%;
}

.Tile--9-9 {
  background-position: -200% -200%;
}

.Tile--position-9-1 {
  top: 0;
  left: 0;
}

.Tile--position-9-2 {
  top: 0;
  left: percentage(1 / 3);
}

.Tile--position-9-3 {
  top: 0;
  left: percentage(2 / 3);
}

.Tile--position-9-4 {
  top: percentage(1 / 3);
  left: 0;
}

.Tile--position-9-5 {
  top: percentage(1 / 3);
  left: percentage(1 / 3);
}

.Tile--position-9-6 {
  top: percentage(1 / 3);
  left: percentage(2 / 3);
}

.Tile--position-9-7 {
  top: percentage(2 / 3);
  left: 0;
}

.Tile--position-9-8 {
  top: percentage(2 / 3);
  left: percentage(1 / 3);
}

.Tile--position-9-9 {
  top: percentage(2 / 3);
  left: percentage(2 / 3);
}

// 16 tiles styling
.Tile--16 {
  width: percentage(1 / 4);
  background-size: 400%;
}

.Tile--16-1 {
  background-position: 0 0;
}

.Tile--16-2 {
  background-position: -100% 0;
}

.Tile--16-3 {
  background-position: -200% 0;
}

.Tile--16-4 {
  background-position: -300% 0;
}

.Tile--16-5 {
  background-position: 0 -100%;
}

.Tile--16-6 {
  background-position: -100% -100%;
}

.Tile--16-7 {
  background-position: -200% -100%;
}

.Tile--16-8 {
  background-position: -300% -100%;
}

.Tile--16-9 {
  background-position: 0 -200%;
}

.Tile--16-10 {
  background-position: -100% -200%;
}

.Tile--16-11 {
  background-position: -200% -200%;
}

.Tile--16-12 {
  background-position: -300% -200%;
}

.Tile--16-13 {
  background-position: 0 -300%;
}

.Tile--16-14 {
  background-position: -100% -300%;
}

.Tile--16-15 {
  background-position: -200% -300%;
}

.Tile--position-16-1 {
  top: 0;
  left: 0;
}

.Tile--position-16-2 {
  top: 0;
  left: 25%;
}

.Tile--position-16-3 {
  top: 0;
  left: 50%;
}

.Tile--position-16-4 {
  top: 0;
  left: 75%;
}

.Tile--position-16-5 {
  top: 25%;
  left: 0;
}

.Tile--position-16-6 {
  top: 25%;
  left: 25%;
}

.Tile--position-16-7 {
  top: 25%;
  left: 50%;
}

.Tile--position-16-8 {
  top: 25%;
  left: 75%;
}

.Tile--position-16-9 {
  top: 50%;
  left: 0;
}

.Tile--position-16-10 {
  top: 50%;
  left: 25%;
}

.Tile--position-16-11 {
  top: 50%;
  left: 50%;
}

.Tile--position-16-12 {
  top: 50%;
  left: 75%;
}

.Tile--position-16-13 {
  top: 75%;
  left: 0;
}

.Tile--position-16-14 {
  top: 75%;
  left: 25%;
}

.Tile--position-16-15 {
  top: 75%;
  left: 50%;
}

.Tile--position-16-16 {
  top: 75%;
  left: 75%;
}

// 25 tiles styling
.Tile--25 {
  width: percentage(1 / 5);
  background-size: 500%;
}

.Tile--25-1 {
  background-position: 0 0;
}

.Tile--25-2 {
  background-position: -100% 0;
}

.Tile--25-3 {
  background-position: -200% 0;
}

.Tile--25-4 {
  background-position: -300% 0;
}

.Tile--25-5 {
  background-position: -400% 0;
}

.Tile--25-6 {
  background-position: 0 -100%;
}

.Tile--25-7 {
  background-position: -100% -100%;
}

.Tile--25-8 {
  background-position: -200% -100%;
}

.Tile--25-9 {
  background-position: -300% -100%;
}

.Tile--25-10 {
  background-position: -400% -100%;
}

.Tile--25-11 {
  background-position: 0 -200%;
}

.Tile--25-12 {
  background-position: -100% -200%;
}

.Tile--25-13 {
  background-position: -200% -200%;
}

.Tile--25-14 {
  background-position: -300% -200%;
}

.Tile--25-15 {
  background-position: -400% -200%;
}

.Tile--25-16 {
  background-position: 0 -300%;
}

.Tile--25-17 {
  background-position: -100% -300%;
}

.Tile--25-18 {
  background-position: -200% -300%;
}

.Tile--25-19 {
  background-position: -300% -300%;
}

.Tile--25-20 {
  background-position: -400% -300%;
}

.Tile--25-21 {
  background-position: 0 -400%;
}

.Tile--25-22 {
  background-position: -100% -400%;
}

.Tile--25-23 {
  background-position: -200% -400%;
}

.Tile--25-24 {
  background-position: -300% -400%;
}

.Tile--position-25-1 {
  top: 0;
  left: 0;
}

.Tile--position-25-2 {
  top: 0;
  left: 20%;
}

.Tile--position-25-3 {
  top: 0;
  left: 40%;
}

.Tile--position-25-4 {
  top: 0;
  left: 60%;
}

.Tile--position-25-5 {
  top: 0;
  left: 80%;
}

.Tile--position-25-6 {
  top: 20%;
  left: 0;
}

.Tile--position-25-7 {
  top: 20%;
  left: 20%;
}

.Tile--position-25-8 {
  top: 20%;
  left: 40%;
}

.Tile--position-25-9 {
  top: 20%;
  left: 60%;
}

.Tile--position-25-10 {
  top: 20%;
  left: 80%;
}

.Tile--position-25-11 {
  top: 40%;
  left: 0;
}

.Tile--position-25-12 {
  top: 40%;
  left: 20%;
}

.Tile--position-25-13 {
  top: 40%;
  left: 40%;
}

.Tile--position-25-14 {
  top: 40%;
  left: 60%;
}

.Tile--position-25-15 {
  top: 40%;
  left: 80%;
}

.Tile--position-25-16 {
  top: 60%;
  left: 0;
}

.Tile--position-25-17 {
  top: 60%;
  left: 20%;
}

.Tile--position-25-18 {
  top: 60%;
  left: 40%;
}

.Tile--position-25-19 {
  top: 60%;
  left: 60%;
}

.Tile--position-25-20 {
  top: 60%;
  left: 80%;
}

.Tile--position-25-21 {
  top: 80%;
  left: 0;
}

.Tile--position-25-22 {
  top: 80%;
  left: 20%;
}

.Tile--position-25-23 {
  top: 80%;
  left: 40%;
}

.Tile--position-25-24 {
  top: 80%;
  left: 60%;
}

.Tile--position-25-25 {
  top: 80%;
  left: 80%;
}

