// Sass variable prefixes:
// c = color
// ff = font-family

// Colors (named with http://chir.ag/projects/name-that-color/#6195ED)
$c-white:                                           #fff;
$c-black:                                           #000;
$c-alto:                                            #dedede;
$c-gray:                                            #8c8c8c;
$c-tradewind:                                       #55aba8;
$c-gallery:                                         #eee;

// Font families
$ff-georgia:                                        Georgia, Times, "Times New Roman", serif;
